

.container {
  width: 650px;
  border: 5px solid #23A3AB;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #23A3AB;
  padding: 25px;
  margin: 25px;
  background-color: #00D291;

}

#result {
  width: 450px;
  border: 3px solid pink;
  background-color: pink;
  border-radius: 3px;
  box-shadow: 2px 2px 2px pink;
  padding: 10px;
  margin: 10px;
  background-color: pink;

}

.tomHiddleston {
    border: 5px solid #23A3AB;
    height: 150px;
    align-self: right;
    background-color: powderblue;
    margin: auto;
    align-content: right;

  /*hunkentry*/

}

.class {

}

.buttons {
  width: 75px;
  height: 75px;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid #603dba;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #4A5BCE;
  padding: 10px;
  margin: 12px;
  background-color: #5F29E3;
}
